body {
@font-face {
  font-family: "Pragmatica";
  src: url("fonts/Pragmatica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pragmatica", Arial, sans-serif;
}
}
